@import "./Common/_fonts";
@import "./Common/_colors", "./Common/_mixins";

// Font Color
.text-color-point1 { color: $color_point1; }
.text-color-point2 { color: $color_point2; }
.text-color-main { color: $color_main; }
.text-color-light1 { color: $color_light1; }
.text-color-light2 { color: $color_light2; }
.text-color-dark { color: $color_dark; }
.text-color-regular { color: $color_regular; }
.text-color-footer { color: $color_footer; }
.text-color-placeholder { color: $color_placeholder; }
.text-color-line { color: $color_line; }
.text-color-f_bg { color: $color_f_bg; }
.text-color-m_bg { color: $color_m_bg; }
.text-color-white { color: $color_white; }
.text-color-explain { color: $color_explain; }
// .text-color-keyword1 { color: $color_keyword1; }
// .text-color-keyword2 { color: $color_keyword2; }
// .text-color-keyword3 { color: $color_keyword3; }
// .text-color-keyword4 { color: $color_keyword4; }
// .text-color-keyword5 { color: $color_keyword5; }

// Background Color
.bg-color-point1 { background-color: $color_point1; }
.bg-color-point2 { background-color: $color_point2; }
.bg-color-main { background-color: $color_main; }
.bg-color-light1 { background-color: $color_light1; }
.bg-color-light2 { background-color: $color_light2; }
.bg-color-dark { background-color: $color_dark; }
.bg-color-regular { background-color: $color_regular; }
.bg-color-footer { background-color: $color_footer; }
.bg-color-placeholder { background-color: $color_placeholder; }
.bg-color-line { background-color: $color_line; }
.bg-color-f_bg { background-color: $color_f_bg; }
.bg-color-m_bg { background-color: $color_m_bg; }
.bg-color-white { background-color: $color_white; }
.bg-color-explain { background-color: $color_explain; }
// .bg-color-keyword1 { background-color: $color_keyword1; }
// .bg-color-keyword2 { background-color: $color_keyword2; }
// .bg-color-keyword3 { background-color: $color_keyword3; }
// .bg-color-keyword4 { background-color: $color_keyword4; }
// .bg-color-keyword5 { background-color: $color_keyword5; }

/* ==================================================
  COMMON LAYOUT
================================================== */
body {
  font-size: 16px;
  font-family: 'Pretendard';
}
.container {
  width: 1320px !important;
  max-width: 1320px !important;
  padding: 0 20px;
  margin: 0 auto;
}
.container-800 {
  width: 800px;
  padding: 0 20px;
  margin: 0 auto;
}
.sec_wrap {
  min-height: 730px;
  padding: 140px 0 100px;
}

/* HEADER */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;

  .container {
    @include flexLayout(center, space-between);
    height: 80px;

    & > div { @include flexLayout(center, center, 100px); }
  }
  .logo a {
    @include hiddenAltText;
    display: block;
    width: 80px;
    height: 36px;
    background: url('Assets/Images/logo.png') no-repeat center / contain;
  }
  nav ul { @include flexLayout(center, center, 60px); }
  ul.right_menu {
    @include flexLayout(center, center, 8px);

    li {
      p {
        font-size: 16px;
        color: $color_regular;
        font-weight: 700;
      }
      a {
        @include hiddenAltText;
        display: block;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
      &:nth-of-type(1) a { background-image: url('Assets/Images/ic_guest.png'); }
      &:nth-of-type(2) a { background-image: url('Assets/Images/ic_menu.png'); }
    }
  }

  &.hd_style02 {
    border-bottom : 1px solid $color_line;
    background-color: $color_white;
  }
}

/* FOOTER */
#footer {
  padding: 40px 0 100px;
  background-color: $color_f_bg;

  .container { @include flexLayout(flex-start, space-between); }
  .text_box {
    p {
      font-size: 16px;
      color: $color_footer;
      font-weight: 500;
    }
    .top_text_box {
      @include flexLayout(center, flex-start, 40px);

      a:not(.logo) {
        font-size: 16px;
        color: $color_footer;
        font-weight: 700;
      }
      .logo {
        @include hiddenAltText;
        display: block;
        width: 202px;
        height: 36px;
        background: url('Assets/Images/logo02.png') no-repeat center / contain;
      }
    }
  }
  .link_box {
    .top_link_box { @include flexLayout(center, flex-end, 16px); }
    ul {
      @include flexLayout(center, flex-end, 16px);

      li a {
        @include hiddenAltText;
        display: block;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        img { width:100%; }
        &.icon01{ background-image: url('Assets/Images/ic_twitter.png'); }
        &.icon02{ background-image: url('Assets/Images/ic_facebook.png'); }
      }
    }
  }
}

/* SKIP MENU */
#skip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 999;

  a {
    position: absolute;
    left: 0;
    display: block;
    height: 32px;
    padding: 0 20px;
    font-size: 16px;
    color: #fff;
    line-height: 32px;
    background-color: $color_dark;

    &:link, &:visited, &:active { top: -10000px; }
    &:hover, &:focus { top: 0; }
  }
}

/* VISUAL */
.visual_bg_deco {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  
  div {
    position: absolute;
    top: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;

    &:nth-of-type(1) {
      left: 0;
      width: 108%;
      background-image: url('Assets/Images/main_visual01.png');
      z-index: 3;
      animation: bgMoving01 30s forwards ease-out infinite;
    }
    &:nth-of-type(2) {
      right: 0;
      width: 113.5%;
      background-image: url('Assets/Images/main_visual02.png');
      z-index: 2;
      animation: bgMoving02 30s forwards ease-out infinite;
    }
    &:nth-of-type(3) {
      left: -3%;
      width: 127.4%;
      background-image: url('Assets/Images/main_visual03.png');
      z-index: 1;
      animation: bgMoving03 30s forwards ease-out infinite;
    }
  }
}

/* ==================================================
  COMMON STYLES
================================================== */
*:focus-visible { outline-color: $color_main; }
.hidden_text { @include hiddenAltText; }

/* Button */
button, a {
  @include flexLayout(center, center);

  &.btn_style01 {
    color: $color_regular;
    border: 1px solid $color_line;
    background-color: $color_white;
  }
  &.btn_style02 {
    color: $color_white;
    background-color: $color_light1;
  }
  &.btn_style03 {
    color: $color_white;
    background: $color_gradient2;
    box-shadow: 0 2px 8px rgba(0,0,0,0.09);
  }
  &.btn_style04 {
    color: $color_regular;
    border: 1px solid $color_line;
    background-color: $color_f_bg;
  }

  @for $i from 1 through 5 {
    &.btn_keyword0#{$i} {
      border: 1px solid $color_placeholder;
      background-color: $color_white;
      color: if($i == 1, $color_keyword1, 
        if($i == 2, $color_keyword2, 
          if($i == 3, $color_keyword3,
            if($i == 4, $color_keyword4, $color_keyword5)
          )
        )
      );

      &.on {
        color: $color_white;

        @if ($i == 1) {
          border-color: $color_keyword1;
          background-color: $color_keyword1;
        } @else if ($i == 2) {
          border-color: $color_keyword2;
          background-color: $color_keyword2;
        } @else if ($i == 3) {
          border-color: $color_keyword3;
          background-color: $color_keyword3;
        } @else if ($i == 4) {
          border-color: $color_keyword4;
          background-color: $color_keyword4;
        } @else {
          border-color: $color_keyword5;
          background-color: $color_keyword5;
        }
      }
    }
  }
}

/* Tab Buttons */
.tab_btns {
  ul {
    @include flexLayout(center, flex-start);

    li button, li a {
      height: 48px;
      font-size: 16px;
      font-weight: 700;
    }
  }
  
  &.tab_style01 ul {
    border-radius: 24px;
    background-color: $color_f_bg;

    li {
      width: 160px;

      button, a {
        @include flexLayout(center, center);
        width: 100%;
        border-radius: 24px;
        color: $color_regular;
      }

      &.on button, &.on a {
        color: $color_white;
        background-color: $color_main;
      }
    }
  }
  &.tab_style02 {
    ul {
      border-radius: 4px;
      background-color: $color_f_bg;
  
      li {
        width: 160px;
  
        button, a {
          @include flexLayout(center, center);
          width: 100%;
          border-radius: 4px;
          color: $color_regular;
        }
  
        &.on button, &.on a {
          color: $color_white;
          background-color: $color_main;
        }
      }
    }
    @for $i from 2 through 8 {
      &.grid0#{$i} ul li { width: calc(100% / $i); }
    }
  }
  &.tab_style03 ul {
    gap: 80px;
    
    li {
      button, a {
        position: relative;
        height: 48px;
        padding: 0 8px;
        color: $color_regular;
        border-bottom: 2px solid transparent;
      }

      &.on button, &.on a {
        color: $color_main;
        border-bottom-color: $color_main;
      }
    }
  }
  &.tab_style04 ul {
    li {
      position: relative;
      
      &:not(:first-of-type) {
        padding-left: 40px;

        &::before {
          content: '';
          position: absolute;
          top: calc(50% - 7px);
          left: 20px;
          display: block;
          width: 1px;
          height: 14px;
          background-color: $color_placeholder;
        }
      }
      button, a {
        height: auto;
        color: $color_regular;
        font-weight: 500;
      }

      &.on button, &.on a {
        color: $color_main;
        font-weight: 700;
      }
    }
  }
}

/* Input, Select, Textarea */
input {
  height: 48px;
  padding: 0 16px;
  border: 1px solid $color_line;
  border-radius: 4px;
  background-color: $color_white;
  font-size: 16px;
  color: $color_dark;
  font-weight: 500;

  &::placeholder { color: $color_placeholder; }
  &::-ms-clear { display: none; }
}
select {
  height: 48px;
  padding: 0 48px 0 16px;
  border: 1px solid $color_line;
  border-radius: 4px;
  background: $color_white url('Assets/Images/arr_select.png') no-repeat right 10px center / 24px;
  font-size: 14px;
  color: $color_regular;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;

  &::-ms-expand { display: none; }
}

/* Search & Auto Complete Search */
.search_wrap {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border: 2px solid $color_main;
  border-radius: 34px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.225);

  label { @include hiddenAltText; }
  input {
    width: 100%;
    height: 64px;
    padding: 0 24px;
    border-radius: 34px;
    border: 0;
    font-size: 20px;
  }
  button {
    position: absolute;
    top: calc(50% - 24px);
    right: 10px;
    height: 48px;
  }

  &.type01 {
    input { padding: 0 68px 0 24px; }
    button {
      @include hiddenAltText;
      width: 48px;
      border-radius: 50%;
      background: $color_gradient2;
    }
  }
  &.type02 {
    input { padding: 0 152px 0 24px; }
    button {
      gap: 8px;
      padding: 0 16px;
      border-radius: 24px;
      background-color: $color_light1;
      font-size: 16px;
      color: $color_white;
      font-weight: 700;
    }
  }
}
.auto_search_wrap {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  .search_list {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    max-height: 400px;
    border: 1px solid $color_line;
    border-top: 0;
    border-radius: 0 0 10px 10px;
    background-color: $color_white;
    box-shadow: 0 6px 8px rgba(0,0,0,0.225);
    overflow-y: auto;
    
    ul {
      padding: 8px 0;

      li {
        & + li {
          border-top: 1px solid $color_line;
        }
        button, a, &.no_data {
          justify-content: flex-start;
          gap: 8px;
          width: 100%;
          padding: 8px 20px;
          font-size: 16px;
          color: $color_regular;

          .text em {
            font-style: normal;
            color: $color_light1;
          }
        }
        &.no_data { color: $color_placeholder; }
      }
    }
  }

  &.focus {
    z-index: 100;

    .search_wrap {
      border: 1px solid $color_line;
      border-top: 0;
      padding-top: 1px;
      border-radius: 10px 10px 0 0;

      input {
        height: 66px;
        border-radius: 10px 10px 0 0;
      }
    }
    .search_list { display: block; }
  }
}

/* Text Line */
.line1_text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.line2_text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.4rem;
  height: 2.8rem;
}

/* Image */
.img_wrap {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
}

/* Tags */
@for $i from 1 through 4 {
  .tag_style0#{$i} {
    @include flexLayout(center, center);
    height: 20px;
    padding: 0 6px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 500;

    @if($i == 1) {
      color: $color_white;
      background-color: $color_point1;
    } @else if($i == 2) {
      color: $color_white;
      background-color: $color_placeholder;
    } @else if($i == 3) {
      color: $color_dark;
      background-color: $color_light2;
    } @else {
      color: $color_dark;
      background-color: $color_keyword5;
    }
  }
}

/* Tooltip */
.tooltip_wrap {
  position: relative;

  &:hover [class*='tooltip_style'],
  &:focus [class*='tooltip_style'] {
    visibility: visible;
    opacity: 1;
  }
}
@for $i from 1 through 4 {
  .tooltip_style0#{$i} {
    position: absolute;
    padding: 0 6px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: $color_white;
    font-size: 12px;
    color: $color_dark;
    font-weight: 500;
    letter-spacing: -0.02rem;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    @if ($i == 1) {
      bottom: calc(100% + 16px);
      left: 0;
      border-color: $color_footer;
    } @else {
      bottom: calc(100% + 6px);
      left: calc(100% - 20px);

      @if ($i == 2) {
        border-color: $color_safety3;
      } @else if ($i == 3) {
        border-color: $color_safety2;
      } @else {
        border-color: $color_safety1;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 16px;
      display: block;
      width: 16px;
      height: 12px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: if($i == 1, url('Assets/Images/tooltip_arr01.png'),
        if($i == 2, url('Assets/Images/tooltip_arr02.png'),
          if($i == 3, url('Assets/Images/tooltip_arr03.png'), 
            url('Assets/Images/tooltip_arr04.png')
          )
        )
      );
    }
  }
}

/* Pagination */
.page_wrap {
  @include flexLayout(center, center, 16px);

  button, a {
    width: 20px;
    height: 20px;
    font-size: 14px;
    color: $color_regular;
    font-weight: 500;

    &.on {
      color: $color_main;
      font-weight: 700;
    }
    &.prev_btn, &.next_btn {
      @include hiddenAltText;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    &.prev_btn {
      background-image: url('Assets/Images/arr_page_prev_on.png');
      &:disabled { background-image: url('Assets/Images/arr_page_prev_off.png'); }
    }
    &.next_btn {
      background-image: url('Assets/Images/arr_page_next_on.png');
      &:disabled { background-image: url('Assets/Images/arr_page_next_off.png'); }
    }
  }
}

/* Loading */
.loading_wrap {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 5000;

  i {
    display: block;
    width: 150px;
    height: 150px;
    background: url('Assets/Images/loading.svg') no-repeat center / contain;
  }

  &.show {
    display: flex;
  }
}

/* List Styles */
.list_style01 ul {
  @include flexLayout(normal, center, 16px);
  flex-direction: column;
  
  li {
    padding: 20px 16px;
    border: 1px solid $color_placeholder;
    border-radius: 8px;
    background-color: $color_white;
  }
}
.list_style02 ul {
  @include flexLayout(normal, center, 16px);
  flex-direction: column;

  li {
    padding: 20px 16px;
    border: 1px solid $color_placeholder;
    border-radius: 8px;
    background-color: $color_m_bg;
    cursor: pointer;

    &.on {
      padding: 19px 15px;
      border: 2px solid $color_main;
      background-color: $color_white;
    }
  }
}
.list_style03 ul {
  @include flexLayout(normal, center, 16px);
  flex-direction: column;

  li {
    border: 1px solid $color_placeholder;
    border-radius: 8px;
    overflow: hidden;

    .tit_box {
      padding: 17px 16px;
    }
    .conts_box {
      height: 0;
      padding: 0 16px;
      overflow: hidden;
      transition: all 0.3s;
    }
    .more_btn {
      @include hiddenAltText;
      width: 30px;
      height: 30px;
      background: url('Assets/Images/arr_drop02.png') no-repeat center / 24px;
      transition: all 0.3s;
    }

    &.on {
      border-color: $color_main;

      .conts_box {
        height: 100%;
        padding: 0 16px 20px;
      }
      .more_btn {
        transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
      }
    }

  &.fold {
    .title button {
      transform: rotate(-180deg);
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
    }
  }
  }
}

/* Text Styles */
.text_style01 p {
  position: relative;
  display: inline-block;

  &:not(:first-of-type) {
    padding-left: 20px;

    &::before {
      content: '';
      position: absolute;
      top: calc(50% - 6px);
      left: 10px;
      display: block;
      width: 1px;
      height: 12px;
      background-color: $color_line;
    }
  }
}

/* Animations (Keyframes) */
$bg_percents: (1: -7%,  2: 7%, 3: -7%);
@each $k, $v in $bg_percents {
  @keyframes bgMoving0#{$k} {
    0% {
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
    }
    50% {
      transform: translateX(#{$v});
      -webkit-transform: translateX(#{$v});
      -moz-transform: translateX(#{$v});
      -ms-transform: translateX(#{$v});
      -o-transform: translateX(#{$v});
    }
  }
}



/* ==================================================
  MEDIA QUERY
================================================== */
@media all and (max-width: 1600px) {
  .visual_bg_deco div { background-size: 120%; }
}
