@import "./Common/_fonts";
@import "./Common/_colors", "./Common/_mixins";

// Font Color
.text-color-point1 { color: $color_point1; }
.text-color-point2 { color: $color_point2; }
.text-color-main { color: $color_main; }
.text-color-light1 { color: $color_light1; }
.text-color-light2 { color: $color_light2; }
.text-color-dark { color: $color_dark; }
.text-color-regular { color: $color_regular; }
.text-color-footer { color: $color_footer; }
.text-color-placeholder { color: $color_placeholder; }
.text-color-line { color: $color_line; }
.text-color-f_bg { color: $color_f_bg; }
.text-color-m_bg { color: $color_m_bg; }
.text-color-white { color: $color_white; }
.text-color-explain { color: $color_explain; }
.text-color-keyword1 { color: $color_keyword1; }
.text-color-keyword2 { color: $color_keyword2; }
.text-color-keyword3 { color: $color_keyword3; }
.text-color-keyword4 { color: $color_keyword4; }
.text-color-keyword5 { color: $color_keyword5; }

/* ==================================================
  COMMON LAYOUT
================================================== */
body {
  font-size: 16px;
  font-family: 'Pretendard';
}
.container {
  width: 1320px !important;
  max-width: 1320px !important;
  padding: 0 20px;
  margin: 0 auto;
}
.container-800 {
  width: 800px;
  padding: 0 20px;
  margin: 0 auto;
}

/* HEADER */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  &.hd_style02 {
    border-bottom : 1px solid $color_line;
    background-color: $color_white;
  }

  .container {
    @include flexLayout(center, space-between);
    height: 80px;

    & > div { @include flexLayout(center, center, 100px); }
  }
  .logo a {
    @include hiddenAltText;
    display: block;
    width: 80px;
    height: 36px;
    background: url('Assets/Images/logo.svg') no-repeat center / contain;
  }
  nav ul { @include flexLayout(center, center, 60px); }
  ul.right_menu {
    @include flexLayout(center, center, 8px);

    li {
      p {
        font-size: 16px;
        color: $color_regular;
        font-weight: 700;
      }
      a {
        @include hiddenAltText;
        display: block;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
      &:nth-of-type(1) a { background-image: url('Assets/Images/ic_guest.png'); }
      &:nth-of-type(2) a { background-image: url('Assets/Images/ic_menu.png'); }
    }
  }
}

/* FOOTER */
#footer {
  padding: 40px 0 100px;
  background-color: $color_f_bg;

  .container { @include flexLayout(flex-start, space-between); }
  .text_box {
    p {
      font-size: 16px;
      color: $color_footer;
      font-weight: 500;
    }
    .top_text_box {
      @include flexLayout(center, flex-start, 40px);

      a:not(.logo) {
        font-size: 16px;
        color: $color_footer;
        font-weight: 700;
      }
      .logo {
        @include hiddenAltText;
        display: block;
        width: 202px;
        height: 36px;
        background: url('Assets/Images/logo02.svg') no-repeat center / contain;
      }
    }
  }
  .link_box {
    .top_link_box { @include flexLayout(center, flex-end, 16px); }
    ul {
      @include flexLayout(center, flex-end, 16px);

      li a {
        @include hiddenAltText;
        display: block;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        img { width:100%; }
        &.icon01{ background-image: url('Assets/Images/ic_twitter.png'); }
        &.icon02{ background-image: url('Assets/Images/ic_facebook.png'); }
      }
    }
  }
}

/* VISUAL */
.visual_bg_deco {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  
  div {
    position: absolute;
    top: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;

    &:nth-of-type(1) {
      left: 0;
      width: 108%;
      background-image: url('Assets/Images/main_visual01.png');
      z-index: 3;
      animation: bgMoving01 30s forwards ease-out infinite;
    }
    &:nth-of-type(2) {
      right: 0;
      width: 113.5%;
      background-image: url('Assets/Images/main_visual02.png');
      z-index: 2;
      animation: bgMoving02 30s forwards ease-out infinite;
    }
    &:nth-of-type(3) {
      left: -3%;
      width: 127.4%;
      background-image: url('Assets/Images/main_visual03.png');
      z-index: 1;
      animation: bgMoving03 30s forwards ease-out infinite;
    }
  }
}

/* ==================================================
  COMMON STYLES
================================================== */
/* Button */
button, a {
  @include flexLayout(center, center, 8px);

  &.btn_style01 {
    color: $color_regular;
    border: 1px solid $color_line;
    background-color: $color_white;
  }
  &.btn_style02 {
    color: $color_white;
    background-color: $color_light1;
  }
  &.btn_style03 {
    color: $color_white;
    background: $color_gradient2;
    box-shadow: 0 2px 8px rgba(0,0,0,0.09);
  }

  @for $i from 1 through 5 {
    &.btn_keyword0#{$i} {
      color: if($i == 1, $color_keyword1, 
        if($i == 2, $color_keyword2, 
          if($i == 3, $color_keyword3,
            if($i == 4, $color_keyword4, $color_keyword5)
          )
        )
      );
      border: 1px solid $color_placeholder;
      background-color: $color_white;

      &.on {
        color: $color_white;
        border-color: if($i == 1, $color_keyword1, 
          if($i == 2, $color_keyword2, 
            if($i == 3, $color_keyword3,
              if($i == 4, $color_keyword4, $color_keyword5)
            )
          )
        );
        background-color: if($i == 1, $color_keyword1, 
          if($i == 2, $color_keyword2, 
            if($i == 3, $color_keyword3,
              if($i == 4, $color_keyword4, $color_keyword5)
            )
          )
        );
      }
    }
  }
}

/* Tab Buttons */
.tab_btns {
  ul {
    @include flexLayout(center, flex-start);

    li button, li a {
      height: 48px;
      font-size: 16px;
      font-weight: 700;
    }
  }
  
  &.tab_style01 ul {
    border-radius: 24px;
    background-color: $color_f_bg;

    li {
      width: 160px;

      button, a {
        @include flexLayout(center, center);
        width: 100%;
        border-radius: 24px;
        color: $color_regular;
      }

      &.on {
        button, a {
          color: $color_white;
          background-color: $color_main;
        }
      }
    }
  }
  &.tab_style02 {
    ul {
      border-radius: 4px;
      background-color: $color_f_bg;
  
      li {
        width: 160px;
  
        button, a {
          @include flexLayout(center, center);
          width: 100%;
          border-radius: 4px;
          color: $color_regular;
        }
  
        &.on {
          button, a {
            color: $color_white;
            background-color: $color_main;
          }
        }
      }
    }
    @for $i from 2 through 8 {
      &.grid0#{$i} ul li { width: calc(100% / $i); }
    }
  }
  &.tab_style03 ul {
    gap: 80px;
    
    li {
      button, a {
        position: relative;
        height: 48px;
        padding: 0 8px;
        color: $color_regular;
        border-bottom: 2px solid transparent;
      }

      &.on {
        button, a {
          color: $color_main;
          border-bottom-color: $color_main;
        }
      }
    }
  }
}

/* Input */
input {
  height: 48px;
  padding: 0 48px 0 20px;
  border-bottom: 1px solid $color_line;
  background-color: $color_white;
  font-size: 16px;
  color: $color_dark;
  font-weight: 500;

  &::placeholder { color: $color_placeholder; }
  &::-ms-clear { display: none; }
}
select {
  height: 48px;
  padding: 0 48px 0 16px;
  border: 1px solid $color_line;
  border-radius: 4px;
  background: $color_white url('Assets/Images/arr_select.svg') no-repeat right 10px center;
  font-size: 14px;
  color: $color_regular;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;

  &::-ms-expand { display: none; }
}

/* Search */
.search_wrap {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 34px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.225);

  label { @include hiddenAltText; }
  input {
    width: 100%;
    height: 68px;
    padding: 0 68px 0 24px;
    border: 2px solid $color_main;
    border-radius: 34px;
    font-size: 20px;
  }
  button {
    @include hiddenAltText;
    @include flexLayout(center, center);
    position: absolute;
    top: 10px;
    right: 10px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: $color_gradient2;
  }
}

/* Loading */
.loading_wrap {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 5000;

  i {
    display: block;
    width: 150px;
    height: 150px;
    background: url('Assets/Images/loading.svg') no-repeat center / contain;
  }

  &.show {
    display: flex;
  }
}

/* Animations (Keyframes) */
$bg_percents: (1: -7%,  2: 7%, 3: -7%);
@each $k, $v in $bg_percents {
  @keyframes bgMoving0#{$k} {
    0% {
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
    }
    50% {
      transform: translateX(#{$v});
      -webkit-transform: translateX(#{$v});
      -moz-transform: translateX(#{$v});
      -ms-transform: translateX(#{$v});
      -o-transform: translateX(#{$v});
    }
  }
}



/* ==================================================
  MEDIA QUERY
================================================== */
@media all and (max-width: 1600px) {
  .visual_bg_deco div { background-size: 120%; }
}
