@import "./Common/_colors", "./Common/_mixins";

/* ==================================================
  ICT TREND
================================================== */
.wordcloud_cursor_wrap {
  svg text { cursor: pointer; }
  span {
    display: block;
    cursor: pointer;

    &:hover, &.active, &.on {
      color: $color_white !important;
      background-color: #d62728;
    }
  }
}
