/* FONTS */
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff") format("woff");
}
.text-color-point1 {
  color: #FC6C0F;
}

.text-color-point2 {
  color: #FD8B41;
}

.text-color-main {
  color: #0056B8;
}

.text-color-light1 {
  color: #52A3FF;
}

.text-color-light2 {
  color: #B8D9FF;
}

.text-color-dark {
  color: #0F172A;
}

.text-color-regular {
  color: #334155;
}

.text-color-footer {
  color: #64748B;
}

.text-color-placeholder {
  color: #94A3B8;
}

.text-color-line {
  color: #E2E8F0;
}

.text-color-f_bg {
  color: #F1F5F9;
}

.text-color-m_bg {
  color: #F9FBFF;
}

.text-color-white {
  color: #FFFFFF;
}

.text-color-explain {
  color: #F4636A;
}

.bg-color-point1 {
  background-color: #FC6C0F;
}

.bg-color-point2 {
  background-color: #FD8B41;
}

.bg-color-main {
  background-color: #0056B8;
}

.bg-color-light1 {
  background-color: #52A3FF;
}

.bg-color-light2 {
  background-color: #B8D9FF;
}

.bg-color-dark {
  background-color: #0F172A;
}

.bg-color-regular {
  background-color: #334155;
}

.bg-color-footer {
  background-color: #64748B;
}

.bg-color-placeholder {
  background-color: #94A3B8;
}

.bg-color-line {
  background-color: #E2E8F0;
}

.bg-color-f_bg {
  background-color: #F1F5F9;
}

.bg-color-m_bg {
  background-color: #F9FBFF;
}

.bg-color-white {
  background-color: #FFFFFF;
}

.bg-color-explain {
  background-color: #F4636A;
}

/* ==================================================
  COMMON LAYOUT
================================================== */
body {
  font-size: 16px;
  font-family: "Pretendard";
  min-width: 1760px;
  overflow-x: auto;
}

hr {
  color: #E2E8F0;
}

.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

.container-800 {
  width: 800px;
  padding: 0 20px;
  margin: 0 auto;
}

.sec_wrap {
  min-height: 730px;
  padding: 140px 0 100px;
}

/* HEADER */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
}
#header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  min-width: 800px;
  height: 80px;
}
#header .container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
#header .logo a {
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
  display: block;
  width: 80px;
  height: 36px;
  background: url("Assets/Images/logo.png") no-repeat center/contain;
}
#header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
#header nav ul li a {
  font-size: 16px;
  font-weight: 700;
  color: #334155;
}
#header nav ul li.on a {
  color: #0056B8;
}
#header ul.right_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
#header ul.right_menu li p {
  font-size: 16px;
  color: #334155;
  font-weight: 700;
}
#header ul.right_menu li button, #header ul.right_menu li a {
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#header ul.right_menu li:nth-of-type(1) > * {
  background-image: url("Assets/Images/ic_guest.png");
}
#header ul.right_menu li:nth-of-type(2) > * {
  background-image: url("Assets/Images/ic_menu.png");
}
#header.hd_style02 {
  border-bottom: 1px solid #E2E8F0;
  background-color: #FFFFFF;
}

/* SITEMAP */
#sitemap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#sitemap nav {
  width: 96%;
  max-width: 1280px;
  min-width: 800px;
  padding: 48px 70px;
  background-color: #FFFFFF;
}
#sitemap nav ul {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 8px;
  text-align: center;
}
#sitemap nav ul li {
  min-width: calc((100% - 180px) / 4);
  border: 1px solid #E2E8F0;
  border-radius: 8px;
  overflow: hidden;
}
#sitemap nav ul li p {
  padding: 9px 0;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 500;
  background-color: #0056B8;
}
#sitemap nav ul li a {
  position: relative;
  height: 48px;
  font-size: 16px;
  color: #334155;
}
#sitemap nav ul li a:not(:last-child)::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 24px;
  display: block;
  width: calc(100% - 48px);
  height: 1px;
  background-color: #E2E8F0;
}

/* FOOTER */
#footer {
  padding: 40px 0 100px;
  background-color: #F1F5F9;
}
#footer .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0;
}
#footer .text_box p {
  font-size: 16px;
  color: #64748B;
  font-weight: 500;
}
#footer .text_box .top_text_box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}
#footer .text_box .top_text_box a:not(.logo) {
  font-size: 16px;
  color: #64748B;
  font-weight: 700;
}
#footer .text_box .top_text_box .logo {
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
  display: block;
  width: 202px;
  height: 36px;
  background: url("Assets/Images/logo02.png") no-repeat center/contain;
}
#footer .link_box .top_link_box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}
#footer .link_box ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}
#footer .link_box ul li a {
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#footer .link_box ul li a img {
  width: 100%;
}
#footer .link_box ul li a.icon01 {
  background-image: url("Assets/Images/ic_twitter.png");
}
#footer .link_box ul li a.icon02 {
  background-image: url("Assets/Images/ic_facebook.png");
}

/* SKIP MENU */
#skip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 999;
}
#skip a {
  position: absolute;
  left: 0;
  display: block;
  height: 32px;
  padding: 0 20px;
  font-size: 16px;
  color: #fff;
  line-height: 32px;
  background-color: #0F172A;
}
#skip a:link, #skip a:visited, #skip a:active {
  top: -10000px;
}
#skip a:hover, #skip a:focus {
  top: 0;
}

/* VISUAL */
.visual_bg_deco {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.visual_bg_deco div {
  position: absolute;
  top: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}
.visual_bg_deco div:nth-of-type(1) {
  left: 0;
  width: 108%;
  background-image: url("Assets/Images/main_visual01.png");
  z-index: 3;
  animation: bgMoving01 30s forwards ease-out infinite;
}
.visual_bg_deco div:nth-of-type(2) {
  right: 0;
  width: 113.5%;
  background-image: url("Assets/Images/main_visual02.png");
  z-index: 2;
  animation: bgMoving02 30s forwards ease-out infinite;
}
.visual_bg_deco div:nth-of-type(3) {
  left: -3%;
  width: 127.4%;
  background-image: url("Assets/Images/main_visual03.png");
  z-index: 1;
  animation: bgMoving03 30s forwards ease-out infinite;
}

/* ==================================================
  COMMON STYLES
================================================== */
*:focus-visible {
  outline-color: #0056B8;
}

.hidden_text {
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
}

.max-w-calc-20 {
  max-width: calc(100% - 80px);
}

.border-top-line {
  border-top: 1px solid #E2E8F0;
}

.border-top-placeholder {
  border-top: 1px solid #94A3B8;
}

.border-bottom-placeholder {
  border-bottom: 1px solid #94A3B8;
}

/* Button */
button, a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}
button.btn_style01, a.btn_style01 {
  color: #334155;
  border: 1px solid #E2E8F0;
  background-color: #FFFFFF;
}
button.btn_style01.on, a.btn_style01.on {
  color: #0056B8;
  border-color: #0056B8;
}
button.btn_style02, a.btn_style02 {
  color: #64748B;
  border: 1px solid #64748B;
  background-color: #FFFFFF;
}
button.btn_style03, a.btn_style03 {
  color: #FFFFFF;
  background: linear-gradient(135deg, #FC6C0F, #FD8B41);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
}
button.btn_style04, a.btn_style04 {
  color: #334155;
  border: 1px solid #E2E8F0;
  background-color: #F1F5F9;
}
button.btn_style05, a.btn_style05 {
  color: #0F172A;
  border: 1px solid #94A3B8;
  background-color: #FFFFFF;
}
button.btn_style05.on, a.btn_style05.on {
  color: #FFFFFF;
  border-color: #0056B8;
  background-color: #0056B8;
}
button.btn_style06, a.btn_style06 {
  color: #FFFFFF;
  background-color: #0056B8;
}
button.btn_style07, a.btn_style07 {
  color: #94A3B8;
  border: 1px solid #E2E8F0;
  background-color: #F1F5F9;
}
button.btn_style07.on, a.btn_style07.on {
  color: #FFFFFF;
  border-color: #52A3FF;
  background-color: #52A3FF;
}
button.btn_fold, a.btn_fold {
  font-size: 14px;
  color: #334155;
  font-weight: 500;
}
button.btn_fold img, a.btn_fold img {
  transition: all 0.3s;
}
button.btn_fold.fold img, a.btn_fold.fold img {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}
button.btn_check_text, a.btn_check_text {
  padding-left: 28px;
  background: url("Assets/Images/ic_check_off.png") no-repeat left center/20px;
  font-size: 16px;
  font-weight: 500;
  color: #334155;
}
button.btn_check_text.check, a.btn_check_text.check {
  background-image: url("Assets/Images/ic_check_on.png");
}
button.btn_keyword01, a.btn_keyword01 {
  border: 1px solid #94A3B8;
  background-color: #FFFFFF;
  color: #7D3C84;
}
button.btn_keyword01.on, a.btn_keyword01.on {
  color: #FFFFFF;
  border-color: #7D3C84;
  background-color: #7D3C84;
}
button.btn_keyword02, a.btn_keyword02 {
  border: 1px solid #94A3B8;
  background-color: #FFFFFF;
  color: #BF3662;
}
button.btn_keyword02.on, a.btn_keyword02.on {
  color: #FFFFFF;
  border-color: #BF3662;
  background-color: #BF3662;
}
button.btn_keyword03, a.btn_keyword03 {
  border: 1px solid #94A3B8;
  background-color: #FFFFFF;
  color: #F4636A;
}
button.btn_keyword03.on, a.btn_keyword03.on {
  color: #FFFFFF;
  border-color: #F4636A;
  background-color: #F4636A;
}
button.btn_keyword04, a.btn_keyword04 {
  border: 1px solid #94A3B8;
  background-color: #FFFFFF;
  color: #F3894F;
}
button.btn_keyword04.on, a.btn_keyword04.on {
  color: #FFFFFF;
  border-color: #F3894F;
  background-color: #F3894F;
}
button.btn_keyword05, a.btn_keyword05 {
  border: 1px solid #94A3B8;
  background-color: #FFFFFF;
  color: #F5B76E;
}
button.btn_keyword05.on, a.btn_keyword05.on {
  color: #FFFFFF;
  border-color: #F5B76E;
  background-color: #F5B76E;
}

/* Tab Buttons */
.tab_btns ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
}
.tab_btns ul li button, .tab_btns ul li a {
  height: 48px;
  font-size: 16px;
  font-weight: 700;
}
.tab_btns.tab_style01 ul {
  border-radius: 24px;
  background-color: #F1F5F9;
}
.tab_btns.tab_style01 ul li {
  width: 160px;
}
.tab_btns.tab_style01 ul li button, .tab_btns.tab_style01 ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 100%;
  border-radius: 24px;
  color: #334155;
}
.tab_btns.tab_style01 ul li.on button, .tab_btns.tab_style01 ul li.on a {
  color: #FFFFFF;
  background-color: #0056B8;
}
.tab_btns.tab_style02 ul {
  border-radius: 4px;
  background-color: #F1F5F9;
}
.tab_btns.tab_style02 ul li {
  width: 100%;
}
.tab_btns.tab_style02 ul li button, .tab_btns.tab_style02 ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 100%;
  border-radius: 4px;
  color: #334155;
}
.tab_btns.tab_style02 ul li.on button, .tab_btns.tab_style02 ul li.on a {
  color: #FFFFFF;
  background-color: #0056B8;
}
.tab_btns.tab_style02.grid02 ul li {
  width: 50%;
}
.tab_btns.tab_style02.grid03 ul li {
  width: 33.3333333333%;
}
.tab_btns.tab_style02.grid04 ul li {
  width: 25%;
}
.tab_btns.tab_style02.grid05 ul li {
  width: 20%;
}
.tab_btns.tab_style02.grid06 ul li {
  width: 16.6666666667%;
}
.tab_btns.tab_style02.grid07 ul li {
  width: 14.2857142857%;
}
.tab_btns.tab_style02.grid08 ul li {
  width: 12.5%;
}
.tab_btns.tab_style03 ul {
  gap: 80px;
}
.tab_btns.tab_style03 ul li button, .tab_btns.tab_style03 ul li a {
  position: relative;
  height: 48px;
  padding: 0 8px;
  color: #334155;
  border-bottom: 2px solid transparent;
}
.tab_btns.tab_style03 ul li.on button, .tab_btns.tab_style03 ul li.on a {
  color: #0056B8;
  border-bottom-color: #0056B8;
}
.tab_btns.tab_style04 ul {
  position: relative;
}
.tab_btns.tab_style04 ul::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #94A3B8;
  z-index: -1;
}
.tab_btns.tab_style04 ul li {
  width: 100%;
}
.tab_btns.tab_style04 ul li button, .tab_btns.tab_style04 ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 100%;
  padding-bottom: 1px;
  border-bottom: 1px solid #94A3B8;
  color: #334155;
  font-weight: 500;
}
.tab_btns.tab_style04 ul li.on button, .tab_btns.tab_style04 ul li.on a {
  padding-bottom: 0;
  border-bottom: 2px solid #0056B8;
  color: #0056B8;
  font-weight: 700;
}
.tab_btns.tab_style04 ul li.on button b, .tab_btns.tab_style04 ul li.on a b {
  color: #0F172A;
}
.tab_btns.tab_style04.grid02 ul li {
  width: 50%;
}
.tab_btns.tab_style04.grid03 ul li {
  width: 33.3333333333%;
}
.tab_btns.tab_style04.grid04 ul li {
  width: 25%;
}
.tab_btns.tab_style04.grid05 ul li {
  width: 20%;
}
.tab_btns.tab_style04.grid06 ul li {
  width: 16.6666666667%;
}
.tab_btns.tab_style04.grid07 ul li {
  width: 14.2857142857%;
}
.tab_btns.tab_style04.grid08 ul li {
  width: 12.5%;
}
.tab_btns.tab_style04.grid_auto ul li {
  width: auto;
}
.tab_btns.tab_style04.grid_auto ul li button, .tab_btns.tab_style04.grid_auto ul li a {
  padding-left: 16px;
  padding-right: 16px;
}
.tab_btns.tab_style04.grid_min ul li {
  max-width: 20%;
}
.tab_btns.tab_style05 ul li {
  position: relative;
}
.tab_btns.tab_style05 ul li:not(:first-of-type) {
  padding-left: 40px;
}
.tab_btns.tab_style05 ul li:not(:first-of-type)::before {
  content: "";
  position: absolute;
  top: calc(50% - 7px);
  left: 20px;
  display: block;
  width: 1px;
  height: 14px;
  background-color: #94A3B8;
}
.tab_btns.tab_style05 ul li button, .tab_btns.tab_style05 ul li a {
  height: auto;
  color: #334155;
  font-weight: 500;
}
.tab_btns.tab_style05 ul li.on button, .tab_btns.tab_style05 ul li.on a {
  color: #0056B8;
  font-weight: 700;
}
.tab_btns.tab_style06 ul {
  padding: 1px;
  border: 1px solid #E2E8F0;
  border-radius: 5px;
  background-color: #F1F5F9;
}
.tab_btns.tab_style06 ul li button, .tab_btns.tab_style06 ul li a {
  height: 36px;
  padding: 0 12px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  color: #334155;
}
.tab_btns.tab_style06 ul li.on button, .tab_btns.tab_style06 ul li.on a {
  color: #FFFFFF;
  background-color: #52A3FF;
}

/* Input, Select, Textarea */
input {
  height: 48px;
  padding: 0 16px;
  border: 1px solid #E2E8F0;
  border-radius: 4px;
  background-color: #FFFFFF;
  font-size: 14px;
  color: #334155;
}
input::placeholder {
  color: #94A3B8;
}
input::-ms-clear {
  display: none;
}

select {
  height: 48px;
  padding: 0 48px 0 16px;
  border: 1px solid #E2E8F0;
  border-radius: 4px;
  background: #FFFFFF url("Assets/Images/arr_select.png") no-repeat right 10px center/24px;
  font-size: 14px;
  color: #334155;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
}
select::-ms-expand {
  display: none;
}

textarea {
  padding: 12px 16px;
  resize: none;
  font-size: 14px;
  color: #334155;
}
textarea::placeholder {
  color: #94A3B8;
}

.file_custom {
  position: relative;
  border: 2px solid #0056B8;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.file_custom .file_name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 80px;
}
.file_custom .file_name button {
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
  width: 24px;
  height: 24px;
  background: url("Assets/Images/ic_x03.png") no-repeat center/contain;
}
.file_custom .file_btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.file_custom .file_btn input {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.input_x_wrap {
  position: relative;
}
.input_x_wrap label {
  position: absolute;
}
.input_x_wrap input, .input_x_wrap textarea {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #E2E8F0;
  resize: none;
}
.input_x_wrap input {
  padding: 0 40px 0 16px;
}
.input_x_wrap textarea {
  padding: 12px 40px 12px 16px;
}
.input_x_wrap button {
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
  top: calc(50% - 12px);
  right: 0;
  width: 24px;
  height: 24px;
  background: url("Assets/Images/ic_x.png") no-repeat center/contain;
}

/* Search & Auto Complete Search */
.search_wrap {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border: 2px solid #0056B8;
  border-radius: 34px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.225);
}
.search_wrap label {
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
}
.search_wrap input {
  width: 100%;
  height: 64px;
  padding: 0 24px;
  border-radius: 34px;
  border: 0;
  font-size: 20px;
  font-weight: 500;
}
.search_wrap .search_btn {
  position: absolute;
  top: calc(50% - 24px);
  right: 10px;
  height: 48px;
}
.search_wrap .search_btn button {
  width: 100%;
  height: 100%;
}
.search_wrap.type01 input {
  padding: 0 68px 0 24px;
}
.search_wrap.type01 .search_btn {
  width: 48px;
}
.search_wrap.type01 .search_btn button {
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
  border-radius: 50%;
  background: linear-gradient(135deg, #FC6C0F, #FD8B41);
}
.search_wrap.type02 input {
  padding: 0 152px 0 24px;
}
.search_wrap.type02 button {
  gap: 8px;
  padding: 0 16px;
  border-radius: 24px;
  background-color: #52A3FF;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 700;
}

.auto_search_wrap {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.auto_search_wrap .search_list {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 100%;
  max-height: 400px;
  border: 1px solid #E2E8F0;
  border-top: 0;
  border-radius: 0 0 10px 10px;
  background-color: #FFFFFF;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.225);
  overflow-y: auto;
}
.auto_search_wrap .search_list ul {
  padding: 8px 0;
}
.auto_search_wrap .search_list ul li + li {
  border-top: 1px solid #E2E8F0;
}
.auto_search_wrap .search_list ul li button, .auto_search_wrap .search_list ul li a, .auto_search_wrap .search_list ul li.no_data {
  justify-content: flex-start;
  gap: 8px;
  width: 100%;
  padding: 8px 20px;
  font-size: 16px;
  color: #334155;
}
.auto_search_wrap .search_list ul li button .text em, .auto_search_wrap .search_list ul li a .text em, .auto_search_wrap .search_list ul li.no_data .text em {
  font-style: normal;
  color: #52A3FF;
}
.auto_search_wrap .search_list ul li.no_data {
  color: #94A3B8;
}
.auto_search_wrap.focus {
  z-index: 100;
}
.auto_search_wrap.focus .search_wrap {
  border: 1px solid #E2E8F0;
  border-top: 0;
  padding-top: 1px;
  border-radius: 10px 10px 0 0;
}
.auto_search_wrap.focus .search_wrap input {
  height: 66px;
  border-radius: 10px 10px 0 0;
}
.auto_search_wrap.focus .search_list {
  display: block;
}

/* Rc Slider Custom */
.rc_custom .rc-slider-rail {
  background-color: #F1F5F9;
}
.rc_custom .rc-slider-track {
  background-color: #52A3FF;
  z-index: 2;
}
.rc_custom .rc-slider-dot {
  bottom: -6px;
  width: 16px;
  height: 16px;
  border: 0;
  background-color: #94A3B8;
}
.rc_custom .rc-slider-handle {
  width: 16px;
  height: 16px;
  border: 0;
  background-color: #52A3FF;
}
.rc_custom .rc-slider-mark-text {
  font-size: 14px;
  color: #94A3B8;
}
.rc_custom .rc-slider-mark-text-active {
  font-weight: 500;
  color: #334155;
}

/* Text Line */
.line1_text {
  max-width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.line2_text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.4rem;
  max-height: 2.8rem;
}

/* Image */
.img_wrap {
  position: relative;
  overflow: hidden;
}
.img_wrap::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.img_wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

/* Tags */
.tag_style01 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  height: 20px;
  padding: 0 6px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #FC6C0F;
}

.tag_style02 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  height: 20px;
  padding: 0 6px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #94A3B8;
}

.tag_style03 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  height: 20px;
  padding: 0 6px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 500;
  color: #0F172A;
  background-color: #B8D9FF;
}

.tag_style04 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  height: 20px;
  padding: 0 6px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 500;
  color: #0F172A;
  background-color: #F5B76E;
}

.tag_style05 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  height: 20px;
  padding: 0 6px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #F4636A;
}

.tag_style06 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  height: 20px;
  padding: 0 6px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 500;
  color: #0056B8;
  background-color: #F1F5F9;
}

.tag_style07 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  height: 20px;
  padding: 0 6px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 500;
  color: #FC6C0F;
  background-color: #F1F5F9;
}

/* Tooltip */
.tooltip_wrap {
  position: relative;
  cursor: pointer;
}
.tooltip_wrap:hover [class*=tooltip_style], .tooltip_wrap:focus [class*=tooltip_style] {
  visibility: visible;
  opacity: 1;
}
.tooltip_wrap > button:hover + [class*=tooltip_style], .tooltip_wrap > button:focus + [class*=tooltip_style] {
  visibility: visible;
  opacity: 1;
}

.tooltip_style01 {
  position: absolute;
  padding: 0 6px;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  background-color: #FFFFFF;
  font-size: 12px;
  color: #0F172A;
  font-weight: 500;
  letter-spacing: -0.02rem;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  bottom: calc(100% + 6px);
  left: calc(100% - 20px);
  border-color: #FD0943;
}
.tooltip_style01::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 16px;
  display: block;
  width: 16px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("Assets/Images/tooltip_arr01.png");
}

.tooltip_style02 {
  position: absolute;
  padding: 0 6px;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  background-color: #FFFFFF;
  font-size: 12px;
  color: #0F172A;
  font-weight: 500;
  letter-spacing: -0.02rem;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  bottom: calc(100% + 6px);
  left: calc(100% - 20px);
  border-color: #E7D500;
}
.tooltip_style02::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 16px;
  display: block;
  width: 16px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("Assets/Images/tooltip_arr02.png");
}

.tooltip_style03 {
  position: absolute;
  padding: 0 6px;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  background-color: #FFFFFF;
  font-size: 12px;
  color: #0F172A;
  font-weight: 500;
  letter-spacing: -0.02rem;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  bottom: calc(100% + 6px);
  left: calc(100% - 20px);
  border-color: #00A545;
}
.tooltip_style03::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 16px;
  display: block;
  width: 16px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("Assets/Images/tooltip_arr03.png");
}

.tooltip_style04 {
  position: absolute;
  padding: 0 6px;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  background-color: #FFFFFF;
  font-size: 12px;
  color: #0F172A;
  font-weight: 500;
  letter-spacing: -0.02rem;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  border-color: #64748B;
  bottom: calc(100% + 16px);
  left: 0;
}
.tooltip_style04::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 16px;
  display: block;
  width: 16px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("Assets/Images/tooltip_arr04.png");
}

.tooltip_style05 {
  position: absolute;
  padding: 0 6px;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  background-color: #FFFFFF;
  font-size: 12px;
  color: #0F172A;
  font-weight: 500;
  letter-spacing: -0.02rem;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  border-color: #64748B;
  bottom: 100%;
  left: calc(100% - 28px);
}
.tooltip_style05::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 16px;
  display: block;
  width: 16px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("Assets/Images/tooltip_arr04.png");
}

/* Pagination */
.page_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.page_wrap button, .page_wrap a {
  width: 20px;
  height: 20px;
  font-size: 14px;
  color: #334155;
  font-weight: 500;
}
.page_wrap button.on, .page_wrap a.on {
  color: #0056B8;
  font-weight: 700;
}
.page_wrap button.prev_btn, .page_wrap button.next_btn, .page_wrap a.prev_btn, .page_wrap a.next_btn {
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.page_wrap button.prev_btn, .page_wrap a.prev_btn {
  background-image: url("Assets/Images/arr_page_prev_on.png");
}
.page_wrap button.prev_btn:disabled, .page_wrap a.prev_btn:disabled {
  background-image: url("Assets/Images/arr_page_prev_off.png");
}
.page_wrap button.next_btn, .page_wrap a.next_btn {
  background-image: url("Assets/Images/arr_page_next_on.png");
}
.page_wrap button.next_btn:disabled, .page_wrap a.next_btn:disabled {
  background-image: url("Assets/Images/arr_page_next_off.png");
}

/* Loading */
.loading_wrap {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
}
.loading_wrap i {
  display: block;
  width: 150px;
  height: 150px;
  background: url("Assets/Images/loading.svg") no-repeat center/contain;
}
.loading_wrap.show {
  display: flex;
}

/* Chart */
.chart_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 100%;
  min-height: 350px;
}

/* HightLight Style */
.highlight {
  color: #52A3FF !important;
  font-weight: 700;
}

/* Table Styles */
.table_style01 table {
  width: 100%;
}
.table_style01 table thead {
  border-top: 1px solid #E2E8F0;
}
.table_style01 table thead th {
  border-bottom: 1px solid #94A3B8;
}
.table_style01 table th {
  padding: 14px 16px;
  background-color: #F9FBFF;
  border-bottom: 1px solid #E2E8F0;
  font-size: 14px;
  color: #334155;
  font-weight: 500;
}
.table_style01 table th.text-left {
  padding: 14px 10px 14px 16px;
}
.table_style01 table td {
  padding: 14px 16px;
  border-bottom: 1px solid #E2E8F0;
  font-size: 14px;
  color: #0F172A;
  font-weight: 500;
}
.table_style01 table td.text-left {
  padding: 14px 16px 14px 40px;
}
.table_style01 table .bg01 {
  color: #FFFFFF;
  background-color: #FD0943;
}
.table_style01 table .bg02 {
  color: #0F172A;
  background-color: #E7D500;
}
.table_style01 table .bg03 {
  color: #FFFFFF;
  background-color: #00A545;
}

/* List Styles */
.list_style01 > ul {
  display: flex;
  align-items: normal;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
}
.list_style01 > ul > li {
  padding: 20px 16px;
  border: 1px solid #94A3B8;
  border-radius: 8px;
  background-color: #FFFFFF;
}
.list_style01.toggle_type > ul > li {
  padding: 0;
  overflow: hidden;
}
.list_style01.toggle_type > ul > li .tit_box {
  padding: 20px 16px;
}
.list_style01.toggle_type > ul > li .conts_box {
  height: 0;
  padding: 0 16px;
  background-color: #F1F5F9;
  overflow: hidden;
  transition: all 0.3s;
}
.list_style01.toggle_type > ul > li.nodata {
  padding: 17px 16px;
}
.list_style01.toggle_type > ul > li.on {
  border-color: #0056B8;
}
.list_style01.toggle_type > ul > li.on .conts_box {
  height: 100%;
  padding: 24px 16px;
}
.list_style01.first_active ul li:first-of-type {
  margin-bottom: 24px;
  border-color: #0056B8;
  background-color: #F1F5F9;
}

.list_style02 ul {
  display: flex;
  align-items: normal;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
}
.list_style02 ul li {
  padding: 20px 16px;
  border: 1px solid #94A3B8;
  border-radius: 8px;
  background-color: #F9FBFF;
  cursor: pointer;
}
.list_style02 ul li .conts_box {
  width: calc(100% - 60px);
}
.list_style02 ul li.on {
  padding: 19px 15px;
  border: 2px solid #0056B8;
  background-color: #FFFFFF;
}

.list_style03 ul {
  display: flex;
  align-items: normal;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
}
.list_style03 ul li {
  border: 1px solid #94A3B8;
  border-radius: 8px;
  overflow: hidden;
}
.list_style03 ul li .tit_box {
  padding: 17px 16px;
}
.list_style03 ul li .conts_box {
  height: 0;
  padding: 0 16px;
  overflow: hidden;
  transition: all 0.3s;
}
.list_style03 ul li.nodata {
  padding: 17px 16px;
}
.list_style03 ul li.on {
  border-color: #0056B8;
}
.list_style03 ul li.on .conts_box {
  height: 100%;
  padding: 0 16px 20px;
}
.list_style03 ul li.fold .title button {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

.list_style04 ul li {
  border-bottom: 1px solid #E2E8F0;
}
.list_style04 ul li.nodata {
  padding: 14px 24px;
}
.list_style04 ul li a {
  padding: 14px 24px;
}

.list_style05 > ul {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.list_style05 > ul li {
  position: relative;
  width: calc((100% - 72px) / 4);
  padding: 24px 16px;
  border: 1px solid #94A3B8;
  border-radius: 8px;
  background: #FFFFFF url("Assets/Images/ic_check_off.png") no-repeat top 24px right 16px/20px;
  overflow: hidden;
}
.list_style05 > ul li.on {
  background-image: url("Assets/Images/ic_check_on.png");
}
.list_style05 > ul li.disabled::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 23, 42, 0.15);
  z-index: 2;
}

.list_wrap_style01 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px 16px;
  flex-wrap: wrap;
}
.list_wrap_style01 > * {
  width: calc(50% - 8px);
}
.list_wrap_style01 .tit_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: #F9FBFF;
}

.list_wrap_style02 {
  display: flex;
  align-items: normal;
  justify-content: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}
.list_wrap_style02 > * {
  width: 100%;
  padding: 32px 24px;
  border: 1px solid #E2E8F0;
  border-radius: 8px;
}
.list_wrap_style02.grid02 > * {
  width: calc((100% - 40px) / 2);
}
.list_wrap_style02.grid03 > * {
  width: calc((100% - 80px) / 3);
}
.list_wrap_style02.grid04 > * {
  width: calc((100% - 120px) / 4);
}
.list_wrap_style02.grid05 > * {
  width: calc((100% - 160px) / 5);
}
.list_wrap_style02.grid06 > * {
  width: calc((100% - 200px) / 6);
}
.list_wrap_style02.grid07 > * {
  width: calc((100% - 240px) / 7);
}
.list_wrap_style02.grid08 > * {
  width: calc((100% - 280px) / 8);
}

/* Text Styles */
.text_style01 p {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.text_style01 p:not(:last-of-type) {
  padding-right: 20px;
}
.text_style01 p:not(:last-of-type)::before {
  content: "";
  position: absolute;
  top: calc(50% - 6px);
  right: 10px;
  display: block;
  width: 1px;
  height: 12px;
  background-color: #E2E8F0;
}

/* Animations (Keyframes) */
@keyframes bgMoving01 {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  50% {
    transform: translateX(-7%);
    -webkit-transform: translateX(-7%);
    -moz-transform: translateX(-7%);
    -ms-transform: translateX(-7%);
    -o-transform: translateX(-7%);
  }
}
@keyframes bgMoving02 {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  50% {
    transform: translateX(7%);
    -webkit-transform: translateX(7%);
    -moz-transform: translateX(7%);
    -ms-transform: translateX(7%);
    -o-transform: translateX(7%);
  }
}
@keyframes bgMoving03 {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  50% {
    transform: translateX(-7%);
    -webkit-transform: translateX(-7%);
    -moz-transform: translateX(-7%);
    -ms-transform: translateX(-7%);
    -o-transform: translateX(-7%);
  }
}
/* ==================================================
  MEDIA QUERY
================================================== */
@media all and (max-width: 1600px) {
  .visual_bg_deco div {
    background-size: 120%;
  }
}
@media all and (max-width: 991px) {
  #sitemap nav {
    padding: 48px;
  }
  #sitemap nav ul li {
    min-width: calc((100% - 48px) / 4);
  }
}