/* ==================================================
  DISCOVERY & SEARCH
================================================== */
/* Category */
.category_wrap ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  padding: 20px 40px;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.256);
}
.category_wrap ul li button {
  flex-direction: column;
  gap: 0;
  margin: 0 auto;
  font-weight: 700;
  opacity: 0.5;
}
.category_wrap ul li button img {
  width: 40px;
}
.category_wrap ul li button b {
  font-size: 14px;
  color: #334155;
}
.category_wrap ul li button span {
  font-size: 16px;
  color: #334155;
}
.category_wrap ul li.on button {
  opacity: 1;
}
.category_wrap ul li.on button b {
  color: #0F172A;
}
.category_wrap ul li.on button span {
  color: #0056B8;
}
.category_wrap ul li.all {
  position: relative;
}
.category_wrap ul li.all::before {
  content: "";
  position: absolute;
  top: calc(50% - 24px);
  right: 0;
  display: block;
  width: 1px;
  height: 48px;
  background-color: #E2E8F0;
}
.category_wrap.grid02 li {
  width: 50%;
}
.category_wrap.grid03 li {
  width: 33.3333333333%;
}
.category_wrap.grid04 li {
  width: 25%;
}
.category_wrap.grid05 li {
  width: 20%;
}
.category_wrap.grid06 li {
  width: 16.6666666667%;
}
.category_wrap.grid07 li {
  width: 14.2857142857%;
}
.category_wrap.grid08 li {
  width: 12.5%;
}
.category_wrap.grid09 li {
  width: 11.1111111111%;
}

/* Infomation */
.info_wrap {
  width: 100%;
  max-width: 800px;
  padding: 40px 16px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: #F9FBFF;
}
.info_wrap ul li {
  position: relative;
  padding-left: 16px;
}
.info_wrap ul li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #334155;
}

/* Discovery Result */
.keywords_wrap {
  padding: 24px;
  border-radius: 16px;
  background-color: #F1F5F9;
}
.keywords_wrap .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
.keywords_wrap .title h4 {
  font-size: 20px;
  color: #0056B8;
  font-weight: 700;
}
.keywords_wrap .title button {
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
  width: 30px;
  height: 30px;
  background: url("Assets/Images/arr_drop.png") no-repeat center/24px;
  transition: all 0.3s;
}
.keywords_wrap .title button:disabled {
  opacity: 0.2;
}
.keywords_wrap ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 16px;
}
.keywords_wrap.fold .title button {
  transform: rotate(-180deg);
}

.keywords_btn button {
  gap: 4px;
  width: 120px;
  height: 32px;
  margin: 0 auto;
  border-radius: 0 0 4px 4px;
  background-color: #52A3FF;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 700;
}
.keywords_btn button img {
  width: 20px;
}
.keywords_btn button:disabled {
  background-color: #B8D9FF;
}

.discovery_reset_btn {
  font-size: 14px;
  color: #0056B8;
  font-weight: 500;
}
.discovery_reset_btn:disabled {
  color: #94A3B8;
}

.discovery_fold_btn {
  font-size: 14px;
  color: #334155;
  font-weight: 500;
}
.discovery_fold_btn img {
  transition: all 0.3s;
}
.discovery_fold_btn.fold img {
  transform: rotate(-180deg);
}

/* Search Result */
.search_detail_wrap dl {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  padding: 1px 24px;
}
.search_detail_wrap dl dt {
  width: 180px;
  font-size: 16px;
  font-weight: 700;
  color: #334155;
}
.search_detail_wrap dl dd {
  width: calc(100% - 196px);
}

/* Filter */
.filter_btns {
  padding: 24px 24px 0;
}
.filter_btns ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  flex-wrap: wrap;
}
.filter_btns ul li button {
  gap: 4px;
  padding: 7px 10px;
  border: 1px solid #94A3B8;
  border-radius: 4px;
  font-size: 14px;
  color: #64748B;
}
.filter_btns ul li button b {
  font-size: 16px;
  color: #334155;
  font-weight: 500;
}
.filter_btns ul li button.on {
  border-color: #0056B8;
}
.filter_btns ul li button.on b {
  color: #0056B8;
}

.filter_select_wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 24px;
  padding: 24px;
  background-color: #F1F5F9;
}
.filter_select_wrap > div {
  flex: 1;
}
.filter_select_wrap .conts_box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.filter_select_wrap .conts_box + div {
  margin-top: 12px;
}
.filter_select_wrap .conts_box p {
  font-size: 16px;
  color: #334155;
  font-weight: 500;
}
.filter_select_wrap .conts_box ul {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px 16px;
  flex-wrap: wrap;
  flex: 1;
}
.filter_select_wrap .conts_box ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 16px;
  color: #0056B8;
  font-weight: 400;
}
.filter_select_wrap .conts_box ul li .x_btn {
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
  width: 16px;
  height: 16px;
  background: url("Assets/Images/ic_x02.png") no-repeat center/contain;
}
.filter_select_wrap .filter_reset_btn {
  font-size: 14px;
  color: #0056B8;
  font-weight: 500;
}
.filter_select_wrap .filter_reset_btn:disabled {
  color: #94A3B8;
}