/* ==================================================
  MAIN
================================================== */
/* Title */
.main_title h3 {
  font-size: 40px;
  color: #0F172A;
  font-weight: 700;
}

/* Sections */
.main_sec01 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 100%;
  min-width: 1320px;
  height: 100vh;
}
.main_sec01 .fp-overflow {
  padding: 40px 0;
}

.main_sec02 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 100%;
  min-width: 1320px;
  height: 100vh;
}
.main_sec02 .fp-overflow {
  padding: 40px 0;
}

.main_sec03 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 100%;
  min-width: 1320px;
  height: 100vh;
}
.main_sec03 .fp-overflow {
  padding: 40px 0;
}

.main_sec01 {
  position: relative;
}
.main_sec01 .keywords_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.main_sec01 .keywords_box p {
  position: relative;
  font-size: 16px;
  color: #334155;
}
.main_sec01 .keywords_box p::before {
  content: "";
  position: absolute;
  top: calc(50% - 7px);
  right: -14px;
  display: block;
  width: 1px;
  height: 14px;
  background-color: #94A3B8;
}
.main_sec01 .keywords_box button {
  font-size: 16px;
  color: #334155;
  font-weight: 700;
}
.main_sec01 .scroll_deco {
  position: absolute;
  left: calc(50% - 15px);
  bottom: 12px;
  width: 30px;
  padding-bottom: 28px;
}
.main_sec01 .scroll_deco div {
  position: absolute;
  left: calc(50% - 8.5px);
  bottom: 10px;
  display: block;
  width: 17px;
  height: 32px;
  overflow: hidden;
  animation: scrollUpDown 2.5s forwards cubic-bezier(0, 0, 0, 1.2) infinite;
}
.main_sec01 .scroll_deco div::before {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 44px;
  background: url("Assets/Images/main_scroll02.png") no-repeat center/contain;
}

.main_sec02 ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.main_sec02 ul li a {
  display: block;
  min-width: 370px;
  min-height: 360px;
  padding: 50px 20px 30px;
  border: 2px solid #B8D9FF;
  border-radius: 24px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.main_sec02 ul li a, .main_sec02 ul li a * {
  transition: all 0.3s;
}
.main_sec02 ul li a img {
  width: 88px;
  margin: 0 auto;
}
.main_sec02 ul li a h4 {
  font-size: 24px;
  color: #334155;
  font-weight: 700;
  margin-top: 28px;
}
.main_sec02 ul li a p {
  margin: 16px 0 20px;
  font-size: 16px;
  color: #334155;
}
.main_sec02 ul li a p b {
  color: #0056B8;
}
.main_sec02 ul li a span {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #F1F5F9;
  font-size: 14px;
  color: #94A3B8;
  font-weight: 700;
}
.main_sec02 ul li a:hover {
  padding: 48px 18px 28px;
  border: 4px solid #0056B8;
}
.main_sec02 ul li a:hover img {
  animation: imgUpDown 4s forwards cubic-bezier(0, 0, 0, 1.2) infinite;
}
.main_sec02 ul li a:hover span {
  background-color: #FC6C0F;
  color: #FFFFFF;
}

.main_sec03 {
  background-color: #F9FBFF;
}
.main_sec03 .conts_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  padding: 65px 0;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.256);
  text-align: center;
}
.main_sec03 .conts_box .all_conts {
  position: relative;
  width: 40%;
}
.main_sec03 .conts_box .all_conts::before {
  content: "";
  position: absolute;
  top: calc(50% - 106px);
  right: 0;
  width: 1px;
  height: 212px;
  background-color: #E2E8F0;
}
.main_sec03 .conts_box .all_conts img {
  margin: 0 auto;
}
.main_sec03 .conts_box .all_conts p {
  font-size: 24px;
  color: #0F172A;
  font-weight: 700;
}
.main_sec03 .conts_box .all_conts span {
  font-size: 40px;
  color: #0056B8;
  font-weight: 700;
}
.main_sec03 .conts_box ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-wrap: wrap;
  width: 60%;
  padding: 0 30px;
}
.main_sec03 .conts_box ul li {
  width: 25%;
}
.main_sec03 .conts_box ul li:nth-of-type(n+5) {
  margin-top: 48px;
}
.main_sec03 .conts_box ul li img {
  width: 56px;
  margin: 0 auto;
}
.main_sec03 .conts_box ul li p {
  font-size: 16px;
  color: #334155;
  font-weight: 500;
}
.main_sec03 .conts_box ul li span {
  font-size: 18px;
  color: #0056B8;
  font-weight: 700;
}

/* Fullpage */
.fp-viewing-1 #header {
  border-bottom: 1px solid #E2E8F0;
  background-color: #FFFFFF;
}

.fp-viewing-2 #header {
  border-bottom: 1px solid #E2E8F0;
  background-color: #FFFFFF;
}

.fp-viewing-3 #header {
  border-bottom: 1px solid #E2E8F0;
  background-color: #FFFFFF;
}

.fp-viewing-4 #header {
  border-bottom: 1px solid #E2E8F0;
  background-color: #FFFFFF;
}

#fp-nav-custom {
  position: fixed;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 50;
}
#fp-nav-custom ul {
  position: relative;
}
#fp-nav-custom ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 0.5px);
  display: block;
  width: 1px;
  height: 100%;
  background-color: #52A3FF;
  z-index: -1;
}
#fp-nav-custom ul li + li {
  margin-top: 48px;
}
#fp-nav-custom ul li button {
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
  width: 8px;
  height: 8px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #52A3FF;
}
#fp-nav-custom ul li.on button {
  width: 16px;
  height: 16px;
  border: 4px solid #52A3FF;
  background-color: #FFFFFF;
}

/* Animations (Keyframes) */
@keyframes scrollUpDown {
  0% {
    height: 32px;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  50% {
    height: 44px;
    transform: translateY(12px);
    -webkit-transform: translateY(12px);
    -moz-transform: translateY(12px);
    -ms-transform: translateY(12px);
    -o-transform: translateY(12px);
  }
}
@keyframes imgUpDown {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  50% {
    transform: translateY(-16px);
    -webkit-transform: translateY(-16px);
    -moz-transform: translateY(-16px);
    -ms-transform: translateY(-16px);
    -o-transform: translateY(-16px);
  }
}