// COLORS
$color_point1: #FC6C0F;
$color_point2: #FD8B41;
$color_main: #0056B8;
$color_light1: #52A3FF;
$color_light2: #B8D9FF;
$color_dark: #0F172A;
$color_regular: #334155;
$color_footer: #64748B;
$color_placeholder: #94A3B8;
$color_line: #E2E8F0;
$color_f_bg: #F1F5F9;
$color_m_bg: #F9FBFF;
$color_white: #FFFFFF;
$color_explain: #F4636A;

$color_keyword1: #7D3C84;
$color_keyword2: #BF3662;
$color_keyword3: #F4636A;
$color_keyword4: #F3894F;
$color_keyword5: #F5B76E;

$color_gradient1: linear-gradient(315deg, $color_point1, $color_point2);
$color_gradient2: linear-gradient(135deg, $color_point1, $color_point2);